<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <a href='{{path('app_homepage')}}' class="btn btn-dark"> Phénix </a>
        <a href='{{path('app_project')}}' class="btn btn-primary"> Project </a>
        {% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
            <a href='{{path('app_logout')}}' type="button" class="btn btn-danger"> Log out </a>
            {% if (is_granted('ROLE_ADMIN'))%}
                <a href='{{path('admin')}}' class="btn btn-primary"> Admin </a>
            {% endif %}
        {% else %}
            <a href='{{path('app_register')}}' type="button" class="btn btn-success"> Sign up </a>
            <a href='{{path('app_login')}}' type="button" class="btn btn-outline-success"> Log in </a>
        {% endif %}
        {% block body %}{% endblock %}
    </body>
</html>
